<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="600">
	<title>Cryptobot2000</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">	

</head>
<body>

	<h1>Live Result</h1>
	<h3><%- data[0].bot_name %></h3>
	<br />
	
	<% var period = data[0].program_vars.period %>
	<% var offset = data[0].program_vars.offset %>
	<% var low_threshold = data[0].program_vars.low_threshold %>
	<% var high_threshold = data[0].program_vars.high_threshold %>

	&gt; <a target="_blank" href="/run-simulation-single?hrs_in_period=<%- period %>&amp;offset=<%- offset %>&amp;low_threshold=<%- low_threshold %>&amp;high_threshold=<%- high_threshold %>&amp;currency=ETH&amp;days=30">Run simulation for this data (30 days)</a><br /><br />
	<br />

	<% for (i in data) { %>

		<strong>datetime_updated: <%- data[i].datetime_updated.toUTCString() %>
		<span style="color:limegreen">
			<%= moment(data[i].datetime_updated).tz("America/New_York").calendar() %> (NY Time), 
			<%= moment(data[i].datetime_updated).fromNow() %>
		</span></strong><br />
		
		<strong>bot_name:</strong> <%- data[i].bot_name %><br /><br />

		<strong>program_vars:</strong><br />
		<t2></t2>period: <%- data[i].program_vars.period %> hrs<br />
		<t2></t2>offset: <%- data[i].program_vars.offset %> hrs<br />
		<t2></t2>low_threshold: <%- data[i].program_vars.low_threshold %>%<br />
		<t2></t2>high_threshold: <%- data[i].program_vars.high_threshold %>%<br />
		<t2></t2>buy_sell_percentage: <%- data[i].program_vars.buy_sell_percentage %>%<br />
		<t2></t2>buy_sell_unit: $<%- data[i].program_vars.buy_sell_unit %><br />
		<t2></t2>reinvest_profit: <%- data[i].program_vars.reinvest_profit %><br />
		<br />

		<strong>this_iteration:</strong><br />
		<t2></t2>avg_for_period: $<%- data[i].avg_for_period %><br />
		<t2></t2>latest_buy_price: $<%- data[i].latest_buy_price %><br />
		<t2></t2>latest_sell_price: $<%- data[i].latest_sell_price %><br />
		<t2></t2>avg_minus_low_threshold: $<%- data[i].avg_minus_low_threshold.toFixed(2) %><br />
		<t2></t2>avg_plus_high_threshold: $<%- data[i].avg_plus_high_threshold.toFixed(2) %><br />
		<br />

		<strong>transaction:</strong><br />
		<t2></t2>transaction: <span style="color:red"><strong><%- data[i].transaction.transaction %></strong></span><br />
		<t2></t2>transaction_notes: <%- data[i].transaction.transaction_notes %><br />
		<t2></t2>(if buy) amount_spent_on_this_transaction: <%- data[i].transaction.amount_spent_on_this_transaction %><br />
		<t2></t2>(if buy) number_of_coins_to_buy: <%- data[i].transaction.number_of_coins_to_buy %><br />
		<t2></t2>(if sell) result_of_this_sale: $<%- data[i].transaction.result_of_this_sale.toFixed(2) %><br />
		<t2></t2>(if sell) number_of_coins_to_sell: <%- data[i].transaction.number_of_coins_to_sell %><br />
		
		<t2></t2>api_response_xfer: 
		<% if (data[i].transaction.api_response_xfer != '') { %>
			<span class="json-resp-wrapper">
				<span class="json-resp-link">show ↓</span>
				<div class="json-resp"><pre><%- data[i].transaction.api_response_xfer %></pre></div>
			</span>
		<% } %><br />
	
		<t2></t2>api_response_err: <%- data[i].transaction.api_response_err %><br />
		<br />

		<strong>totals:</strong><br />
		<t2></t2>total_buy_transactions: <%- data[i].totals.total_buy_transactions %><br />
		<t2></t2>total_sell_transactions: <%- data[i].totals.total_sell_transactions %><br />
		<t2></t2>total_spent: $<%- data[i].totals.total_spent.toFixed(2) %><br />
		<t2></t2>total_coins_sold_value: $<%- data[i].totals.total_coins_sold_value.toFixed(2) %><br />
		<t2></t2>total_coins_owned: <%- data[i].totals.total_coins_owned %><br />
		<t2></t2>current_value_of_coins_owned: <%- data[i].totals.current_value_of_coins_owned %><br />
		<t2></t2>current_position: $<%- data[i].totals.current_position.toFixed(2) %><br />
		<br />
		<hr />
		<br />

	<% } %>	

</body>
</html>
