<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>coinbasebot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			// var data = google.visualization.arrayToDataTable([
			// 	<%- chart_data %>
			// ]);

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Date'); // Implicit domain label col.
			data.addColumn('number', 'buy price '); // Implicit series 1 data col.
			data.addColumn({type:'string', role:'annotation'}); // annotation role col.
			data.addColumn('number', 'sell price '); // Implicit series 1 data col.
			data.addColumn({type:'string', role:'annotation'}); // annotationText col.
			data.addColumn('number', 'avg'); // annotationText col.

			data.addRows([
				<%- chart_data %>
			]);

			var options = {
				title: '<%- currency %>',
				curveType: 'function',
				legend: { position: 'bottom' },
				colors: ['red', 'blue', 'green'],
				chartArea: {'width': '85%', 'height': '85%'},
				vAxis: {
           			viewWindowMode:'explicit',
            		viewWindow: {
              			max: 350,
             			min: 100
            		}
				},
				hAxis : { 
        			textStyle : {
            			fontSize: 10 // or the number you want
			        }
    			}
			}; 

			var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}
    </script>
</head>
<body>

	<h1><%- currency %></h1>

	<div id="curve_chart" style="width: 2000px; height: 1000px"></div>

	<p><%- summary_output %></p>
	<p><%- data %></p>
	<p><%- /* chart_data */ %></p>

</body>
</html>
