<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cryptobot2000</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/styles.css">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawCharts);

		function drawCharts() {
			drawChart('low')
			drawChart('high')
			drawChart('period-offset')
			drawChart('sum')
		}

		function drawChart(chart_tag) {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'input');
			data.addColumn('number', 'result'); 
			
			var thisData = [];
			thisData['low'] 			= [<%- average_chart_data['low'] %>]
			thisData['high'] 			= [<%- average_chart_data['high'] %>]
			thisData['period-offset'] 	= [<%- average_chart_data['period-offset'] %>]
			thisData['sum'] 			= [<%- average_chart_data['sum'] %>]

			data.addRows(thisData[chart_tag]);
			
			var options = {
				title: chart_tag,
				/*curveType: 'function',*/
				legend: { position: 'bottom' },
				hAxis: { 
					gridlines: { count: 20 }
				},
				vAxis: { 
					gridlines: { count: 20 },
				},
				/*trendlines: {
					0: {
						type: 'polynomial',
						degree: 2
					}
				}*/
			}; 

			var chart = new google.visualization.LineChart(document.getElementById('average_chart_' + chart_tag));
			chart.draw(data, options);
		}
</script>

</head>
<body>

	<h1><%- currency %></h1>

	<p><%- data %></p>

	<div id="average_chart_low" style="width: 45%; height: 400px; display: inline-block"></div>
	<div id="average_chart_high" style="width: 45%; height: 400px; display: inline-block"></div>
	<div id="average_chart_period-offset" style="width: 45%; height: 400px; display: inline-block"></div>
	<div id="average_chart_sum" style="width: 45%; height: 400px; display: inline-block"></div>
	<br />

	<% for (key in table_data) { %>
		<strong><%- key %><strong><br /><br />
		<table class="main">
			<% for (key2 in table_data[key]) { %>
				<tr>
					<% table_data[key][key2].forEach(function(item2) { %>
						 <%- item2 %> 
					<% }); %>
				</tr>
			<% } %>	
		</table>
	<% } %>	

</body>
</html>
