<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cryptobot2000</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<% for (i=0; i<data.length; i++) { %>

		<strong><%- data[i].datetime.toUTCString() %>
		<span style="color:limegreen">
			<%= moment(data[i].datetime).tz("America/New_York").calendar() %> (NY Time) 
		</span></strong><br />
		<br />

		<% var lowest_low = 1, highest_low = 0, lowest_high = 1, highest_high = 0, lowest_sum = 99, highest_sum = 0 %>

		<% var result_data = data[i].result_data %>
		<% for (j=0; j<result_data.length; j++) { %>

			<% var days = result_data[j].time_period.substring(0, result_data[j].time_period.indexOf('_')) %>
			<div class="table-wrapper">

				<strong>time_period: <%- result_data[j].time_period %></strong>
				<a href="/run-simulation?currency=ETH&amp;days=<%- days %>" target="_blank">Run this sim →</a><br /><br />

				<% var max_results 		= result_data[j].this_data.max_results %>
				<% var max_results_avg 	= result_data[j].this_data.max_results_avg %>

				<table class="max">
					<tr><th>rank</th><th>period</th><th>offset</th><th>(sum)</th><th>low</th><th>high</th><th>value</th><th>profit</th></tr>
					<% for (k=0; k<max_results.length; k++) { %>
						<tr>
							<th><%- max_results[k].rank %></th>
							<td><%- max_results[k].period %></td>
							<td><%- max_results[k].offset %></td>
							<td>(<%- (max_results[k].period + max_results[k].offset) %>)</td>
							<td><%- max_results[k].low.toFixed(3) %></td>
							<td><%- max_results[k].high.toFixed(3) %></td>
							<td>
								<a href="/run-simulation-single?hrs_in_period=<%- max_results[k].period %>&amp;offset=<%- max_results[k].offset %>&amp;low_threshold=<%- max_results[k].low %>&amp;high_threshold=<%- max_results[k].high %>&amp;currency=ETH&amp;days=<%- days %>"
									target="_blank" style="color:rgb(0,<%- (192-(k*10)) %>,0)"><strong>$<%- max_results[k].value.toFixed(2) %></strong></a>
							</td>
							<td><%- max_results[k].profit.toFixed(2) %>%</td>
						</tr>

						<% lowest_low 	= (max_results[k].low < lowest_low) ? max_results[k].low : lowest_low %>
						<% highest_low 	= (max_results[k].low > highest_low) ? max_results[k].low : highest_low %>
						<% lowest_high 	= (max_results[k].high < lowest_high) ? max_results[k].high : lowest_high %>
						<% highest_high = (max_results[k].high > highest_high) ? max_results[k].high : highest_high %>

						<% lowest_sum 	= ((max_results[k].period + max_results[k].offset) < lowest_sum) ? (max_results[k].period + max_results[k].offset) : lowest_sum %>
						<% highest_sum 	= ((max_results[k].period + max_results[k].offset) > highest_sum) ? (max_results[k].period + max_results[k].offset) : highest_sum %>
				
					<% } %> 
					<% for (k=4; k<max_results_avg.length; k+=5) { %>
						<tr>
							<th><%- max_results_avg[k].rank %></th>
							<th><%- max_results_avg[k].period %></th>
							<th><%- max_results_avg[k].offset %></th>
							<th>(<%- (max_results_avg[k].period + max_results_avg[k].offset) %>)</th>
							<th><%- max_results_avg[k].low.toFixed(3) %></th>
							<th><%- max_results_avg[k].high.toFixed(3) %></th>
							<th></th>
							<th><a href="/run-simulation-single?hrs_in_period=<%- max_results_avg[k].period %>&amp;offset=<%- max_results_avg[k].offset %>&amp;low_threshold=<%- max_results_avg[k].low.toFixed(3) %>&amp;high_threshold=<%- max_results_avg[k].high.toFixed(3) %>&amp;currency=ETH&amp;days=<%- result_data[j].time_period.substring(0, result_data[j].time_period.indexOf('_')) %>" target="_blank">link →</a></td>
						</tr>
					<% } %> 
				</table>

				
			</div>

		<% } %>

		<div style="clear:left">
			<strong>low range:</strong> <%- lowest_low.toFixed(3) %> → <%- highest_low.toFixed(3)  %><br />
			<strong>high range:</strong> <%- lowest_high.toFixed(3) %> → <%- highest_high.toFixed(3) %><br />
			<strong>sum range:</strong> <%- lowest_sum %> → <%- highest_sum %>
		</div>

		<br /><hr /><br />

	<% } %>

</body>
</html>
